name: test

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    # Every Monday at 01:00 JST (Sunday 16:00 UTC)
    - cron: "0 16 * * 0"
  workflow_dispatch:

env:
  LOG_LEVEL: debug

jobs:
  validate-renovate-config:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Get node version
        id: node-version
        run: echo "NODE_VERSION=$(node -v)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ steps.node-version.outputs.NODE_VERSION }}
      - name: Validate renovate config
        run: |
          for file in *.json* presets/*.json*; do
            npx -p renovate renovate-config-validator ${file}
          done
